/************* EDUCATIONAL BACK GROUND ***************/
#EducationalBackGround{
    margin: auto;
    width: 75%;
    /* background-color: teal; */
    margin-top: 100px;
    border: 1px solid gray;
    border-radius: 8px;
}
#eHeading{
    text-align: center;
    padding: 10px;
}
#horizontalEducation{
    border: 1px solid gray;
    margin-top: 15px;

}
#fullStack{
    /* background-color: red; */
    
}
.masai{
   
    margin-top: 15px;
    margin-left: 5px;
}
.educationBack{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: auto;
    width: 70%;
    border: 2px solid gray;
    border-left: 10px solid gray;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.5)
}
#eHeading{
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.topEducation{
    display: flex;
}

.pencil{
    width: 32px;
    height: 35px;
    margin-left: 40px;
    margin-top: 15px;
}
.fromWhere{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 40px;
}
.When{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
}
#Intermediate{
    margin-bottom: 30px;
}
/************* EDUCATIONAL BACK GROUND END ***************/