*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgba(128, 128, 128, 0.345);
}
/******************* NAV BAR *********************/
#navBar{

}
#navmainContainer{
    position:fixed;
    width: 100%;
    height: 70px;
    z-index: 101;
    background-color: rgb(128, 128, 128);
   
}

#navmidContainer{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
}

#navmidLeftContainer{
    width: 5%;
    height: 80%;
   border-radius: 50%;
   margin-left: 10px;
   padding-top: 5px;
}
#navmidLeftImage{
    cursor: pointer;
    /* background-color: grey;
    color: grey; */
    width: 100%;
    height: 90%;
    border: 1px solid white;
    border-radius: 58%;
    margin-top: 4px;
    
}

#navmidRightContainer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    margin-left: 30%;
    /* background-color: red; */

}

.educationSection{
    
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    transition: 500ms;
}
.anchoreConnect{
    text-decoration:none;
    color:inherit;
    
}
#education:hover{
    
    color: green;
    font-weight: bold;
}

#skills:hover{
    color: green;
    font-weight: bold;
}

#projects:hover{
    color: green;
    font-weight: bold;
}

#contact:hover{
    color: green;
    font-weight: bold;
}
#resume:hover{
    color: green;
    font-weight: bold;
}
/********************* NAV BAR END ************************/