
/* **************** First Project  */
#workmainDiv{
    margin: auto;
    width: 75%;
    /* background-color: teal; */
    margin-top: 100px;
    border: 1px solid gray;
    border-radius: 8px;
   
}

#heading{
    text-align: center;
    padding: 10px;
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#horizotalLine{
    border: 1px solid gray;
    margin-top: 15px;
}

#firstProjectMainDiv{
    margin-top: 60px;
    margin-bottom: 60px;
    /* border: 2px solid red; */
}
#firstproject{
    /* border: 2px solid yellow; */
    display: flex;
    width: 100%;
    /* border: 2px solid grey; */
    height: 100%;
   
}
#firstProjObjective{
    font-size: 10px;
    font-size: large;
    margin-top: 5px;
}
#firstProjImage{
    width: 60%;
    /* height: 300px; */
    /* margin: 70px 0px 0px 30px; */
    margin-left: 20px;
    border: 2px solid grey;
    border-radius: 2%;
}
#firstProjDetails{
    /* margin: 70px 0px 0px 50px; */
    margin-left: 30px;
}
#firstProjectHeading{
    font-size: 20px;
    font-weight:bolder
}
.firstProjectDesc{
    font-size: 10px;
    font-size: large;
    padding-top: 10px;
    margin-right: 20px;
}

#firstprojectGoLive{
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 8px 19px;
    border-radius: 5px;
    border: 0px;
    background-color: grey;
    color: white;
}
#firstprojectGitHub{
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
    margin: 20px 0px 0px 20px;
    padding: 8px 19px;
    background-color: grey;
    color: white;
}
#firstprojectGoLive:hover{
    color: green; 
}
#firstprojectGitHub:hover{
    color: green;
}

/************** Second Project **********************/
#secondproject{
    margin: auto;
    display: flex;
    width: 100%;
    /* border: 2px solid grey; */
    margin-bottom: 60px;
    /* border: 2px solid green; */
   
}
#secondProjObjective{
    font-size: 10px;
    font-size: large;
    /* margin-top: 10px; */
    text-align:right;
    margin-right: 20px;
}
#secondProjImage{
    width: 50%;
    height: 300px;
    
    /* margin: 55px 30px 0px 0px; */
    border: 2px solid grey;
    border-radius: 2%;
    margin-right: 20px;
}

#secondProjectHeading{
    /* margin-left: 150px; */
    /* width: 30%; */
    /* border:2px dotted black; */
    border-top: 0px; border-right: 0px; border-left: 0px;
    font-size: 10px;
    font-size: large;
    font-weight: bolder;
    text-align: right;
    margin-right: 20px;
}
.secondtProjectDesc{
    font-size: 10px;
    font-size: large;
    padding-top: 10px;
    text-align: right;
    margin-right: 30px;
    color: black;
}
#liveAndGitHubButton{
    /* border: 1px solid green; */
    /* width: 48%; */
    margin: 10px 20px 0px 150px;
    text-align: right;
    /* margin-right: 20px; */
    

    
}
#secondprojectGoLive{
    cursor: pointer;
    font-size: 16px;
    padding: 8px 19px;
    border-radius: 5px;
    border: 0px;
    background-color: grey;
    color: white;
    margin-right: 20px;
}
#secondprojectGitHub{
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
    padding: 8px 19px;
    /* margin-left: 27px; */
    background-color: grey;
    color: white;
}
#secondprojectGoLive:hover{
    color: green; 
}
#secondprojectGitHub:hover{
    color: green;
}